<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target xsi:type="Mail"
				name="mail"
				smtpServer="${environment:SMTP_HOST}"
				smtpPort="${environment:SMTP_PORT}"
				smtpUserName="${environment:SMTP_USER}"
				smtpPassword="${environment:SMTP_PASS}"
				enableSsl="true"
				from="${environment:MAIL_FROM}"
				to="${environment:MAIL_TO}"
				subject="📬 Job Consola finalizado"
				body="${longdate}|${level}|${message}${newline}${exception:format=toString}" />
	</targets>

	<rules>
		<!-- Un solo mail al final -->
		<logger name="FinalJobLogger" minlevel="Info" writeTo="mail" />
	</rules>

</nlog>
